{% extends "PositiveDayBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class='col-md-6 col-md-offset-3'>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class='col-md-12'>
	    <label for="username">{{ 'security.login.username'|trans }}</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	</div>
	<div class='col-md-12'>
	    <label for="password">{{ 'security.login.password'|trans }}</label>
	    <input type="password" id="password" name="_password" required="required" />
    </div>
	<div class='col-md-12'>
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
	<div class='col-md-12'>
    	<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</div>
</form>
</div>
{% endblock body %}